@page "/employeecrud"
@page "/employeecrud/{EmployeeID:int?}"
<PageTitle>StarTED CRUD</PageTitle>
@rendermode InteractiveServer

@using StarTEDSystem.BLL
@using StarTEDSystem.Entities

<h1>Employee Maintenance</h1>

@if (!string.IsNullOrWhiteSpace(feedBackMsg))
{
    <div>
        <p>@feedBackMsg</p>
    </div>
}
<EditForm EditContext="@editContext"><DataAnnotationsValidator/> <ValidationSummary />
    <div class="row">
        <div class="col-md-6">
            <label>First Name</label>
            <InputText class="form-control" @bind-Value="employeeInfo.FirstName" />
            <ValidationMessage For="@(() => employeeInfo.FirstName)" />

            <label>Last Name</label>
            <InputText class="form-control" @bind-Value="employeeInfo.LastName" />
            <ValidationMessage For="@(() => employeeInfo.LastName)" />

            <label >Date Hired</label>
            <InputDate class="form-control" @bind-Value="employeeInfo.DateHired" />
            <ValidationMessage For="@(() => employeeInfo.DateHired)" />

            <label >Program</label>
            <InputSelect class="form-control" @bind-Value="employeeInfo.ProgramID">
                <option value="0">Select:</option>
                @foreach (var p in programList)
                {
                    <option value="@p.ProgramID">@p.ProgramName</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => employeeInfo.ProgramID)" />

            <label class="form-label mt-3">Position</label>
            <InputSelect class="form-control" @bind-Value="employeeInfo.PositionID">
                <option value="0">... select ...</option>
                @foreach (var pos in positionList)
                {
                    <option value="@pos.PositionID">@pos.Description</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => employeeInfo.PositionID)" />

            <label class="form-label mt-3">Login ID</label>
            <InputText class="form-control" @bind-Value="employeeInfo.LoginID" />
            <ValidationMessage For="@(() => employeeInfo.LoginID)" />

        </div>
    </div>
</EditForm>
<div class="mt-4">
    <button type="button" @onclick="OnSave">Save</button>
    <button type="button" @onclick="OnClear">Clear</button>
    <button type="button" @onclick="ReturnToQuery">Return to Query</button>
</div>



@code {
    [Parameter]
    public int? EmployeeID { get; set; }

    private string feedBackMsg = "";
    private Employee employeeInfo = new Employee();
    private EditContext editContext;
    private ValidationMessageStore validationMessageStore;
    private List<StarTEDSystem.Entities.Program> programList = new();
    private List<Position> positionList = new();



    [Inject]
    private EmployeeServices EmployeeServices { get; set; }
    [Inject]
    private ProgramServices ProgramServices { get; set; }
    [Inject]
    private PositionServices PositionServices { get; set; }


    protected override void OnInitialized()
    {
        try
        {
            if (EmployeeID.HasValue && EmployeeID.Value > 0)
            {
                employeeInfo = EmployeeServices.Employee_GetById(EmployeeID.Value);
            }
            else
            {
                employeeInfo = new Employee();
            }
            editContext = new EditContext(employeeInfo);
            validationMessageStore = new ValidationMessageStore(editContext);
            programList = ProgramServices.Program_GetList();
            positionList = PositionServices.Position_GetList();

        }
        catch (Exception ex)
        {
            feedBackMsg = $"Errpr: {ex.Message}";
        }
    }



    private void OnSave()
    {
        feedBackMsg = "";
        validationMessageStore.Clear();

        try
        {
            if (editContext.Validate())
            {
                if (employeeInfo.ProgramID == 0)
                    validationMessageStore.Add(editContext.Field(nameof(employeeInfo.ProgramID)), "You must select a program");

                if (employeeInfo.PositionID == 0)
                    validationMessageStore.Add(editContext.Field(nameof(employeeInfo.PositionID)), "You must select a position");

                if (editContext.GetValidationMessages().Any())
                {
                    editContext.NotifyValidationStateChanged();
                }
                else
                {
                    if (EmployeeID.HasValue && EmployeeID.Value > 0)
                    {
                        EmployeeServices.Employee_Update(employeeInfo);
                        feedBackMsg = $"Employee (ID: {employeeInfo.EmployeeID}) updated.";
                    }
                    else
                    {
                        int newId = EmployeeServices.Employee_Add(employeeInfo);
                        feedBackMsg = $"Employee (ID: {newId}) added.";
                        EmployeeID = newId;
                    }
                }
            }
        }
        catch (ArgumentNullException ex)
        {
            feedBackMsg = $"Missing Data: {ex.Message}";
        }
        catch (ArgumentException ex)
        {
            feedBackMsg = $"Data Issue: {ex.Message}";
        }
        catch (Exception ex)
        {
            feedBackMsg = $"System Error: {ex.Message}";
        }
    }


}
